/* Sets all the text color to red! */
body {
    color: red;
}
#oRPGheader {
    border: 2px solid var(--headers);
}
.oRPGMenu {
    width: auto;
}

.oRPGBuilder {
    padding: 0;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    width: 75vw;
    min-height: 650px;
    overflow: visible;
}

.oRPGBuilder .modal-content {
    margin-top: 0px;
}

#oRPGControlsContainerDiv {
    margin-left: 20px;
    margin-right: 20px;
    width: 10vw;
}

#oRPGContentContainerDiv textarea {
    width: 95%;
    min-height: 345px;
    padding-left:  5px;
}

#oRPGheader {
    text-align: center;
}


#noteInfo {
    font-size: 14px;
    font-style: italic;
    color: var(--text-normal);
    height: auto;
    min-height: 40px;
}

.oRPGFloatRight {
    float: right;
}


.modal.oRPGBuilder button:not(.mod-cta):not(.mod-warning) {
    background-color: var(--dark-accent);
}


.oRPG-setting-label {
    display: block;
}

.oRPG-setting-radio-label {
    display: inline-block;
}

#oRPGPopulations {
    display: inline-block;
    width: 100%;
}

#oRPGPopulations setting-item-info {
    margin-right: 0px;
}

.oRPGPopulationsRadioDiv {
    display: inline-block;
}

#oRPGPopulationsRadioInput {
    display: inline;
    float: right;
}

.oRPGPopulationField {
    height: 150px;
    vertical-align: top;
    float: right;
}

#oRPGPopulationInput {
    width: 110px;
    margin-left: 2px;
}

#oRPGPopulationSlider {
    width: 110px;
}

table.oRPGLocationHeader thead {
    display: none;
}

.oRPGCopy{
    float: right;
    margin-right: 36px;
}



blockquote.oRPGLocationHeader h1::after,
blockquote.oRPGLocationHeader .HyperMD-header-1::after,
blockquote.oRPGLocationHeader h2::after,
blockquote.oRPGLocationHeader .HyperMD-header-2::after,
blockquote.oRPGLocationHeader h3::after,
blockquote.oRPGLocationHeader .HyperMD-header-3::after,
blockquote.oRPGLocationHeader h4::after,
blockquote.oRPGLocationHeader .HyperMD-header-4::after {
    content: "";
    display: block;
    background: var(--table);
    height: 0px;
}



.oRPGPage {
    /*background-color: var(--background-secondary-alt); */
    background-color: var(--background-primary);
}


.markdown-preview-view.oRPGPage blockquote.statblock,
.reveal .oRPGPage blockquote.statblock {
    border: none;
    box-shadow: 0px 0px 20px var(--outline);
    
    border-left-width: 0px;
    
}


.oRPGPage .callout[data-callout="orpg-layout"] {
    width: 300px;
    float: right;
    border: 1px solid var(--accent);
}

.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-title {
    display: none;
 }
 

.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content {
   margin: 0px;
   padding: 0px;
}


.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content h1 {
    font-size: 18px;
    text-align: center;
    background-color: var(--accent);
    color: var(--th-text);
    margin-top: 0px;
}



.wotc:not(.illusion):not(.h-line):not(.hcl):not(.sphd-und-1) .oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content h1:after ,
.dnd:not(.illusion):not(.h-line):not(.hcl):not(.sphd-und-1)  .oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content h1:after {
    display: none;
    height: 0px;
    background: transparent;
}

.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  p,
.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  h2,
.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  h3,
.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  h4,
.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  h5,
.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content  h6 {
    padding-left: 10px;
    padding-right: 10px;
}

.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content p span {
   display: table;
}


.oRPGPage  h4::after, .HyperMD-header-4::after {
    width: 100%;
}

.oRPGPage  h4 {
    margin-bottom: 0px
}

.oRPGPage  .callout[data-callout="orpg-layout"]  .callout-content table {
   width: 100%;
   margin-bottom: 1px;
}


.oRPGPage  table.oRPGLocationHeader thead {
    display: none;
}

.oRPGPage  table.oRPGLocationHeader tbody tr:nth-child(odd)   {
   background-color: var(--td);
   border-bottom: 1px solid var(--note);
}

.oRPGPage  table.oRPGLocationHeader tbody tr:nth-child(even)   {
   background-color: transparent;
   border-bottom: none;
}

.oRPGPage  table.oRPGLocationHeader tbody tr td  {
   background-color: transparent;
}


/* Item CSS ------------------------- */


.oRPGPage .callout[data-callout="orpg-item"] {
    width: 300px;
    float: right;
    border: 1px solid var(--accent);
}

.oRPGPage  .callout[data-callout="orpg-item"]  .callout-title {
    display: none;
 }
 

.oRPGPage  .callout[data-callout="orpg-item"]  .callout-content {
   margin: 0px;
   padding: 0px;
}


.oRPGPage  .callout[data-callout="orpg-item"]  .callout-content h1 {
    font-size: 18px;
    text-align: center;
    background-color: var(--accent);
    color: var(--th-text);
    margin-top: 0px;
}
